body{
	background-color: rgb(222,222,222);
}
header{
	background-color: rgb(51,51,51);
	height: 122px;
	padding: 0;
	margin: 0;
	border-style: none;
}
header ul{
	float: right;
	padding-top: 50px;
	margin: 0;
}
ul#nav li{
	float: left;
	width: 110px;
}
ul#nav li a{
	color: white;
	text-decoration: none;
}
ul#nav li a:hover{
	color: red;
}
div{
	background-color: white;
	padding: 10px;
	margin: 10px;
	box-shadow: 2px 2px grey;
}
h2{
	clear:both;
}
p{
	text-indent: 2em;
}
p#time{
	text-indent: 0;
}
table{
	border-collapse: collapse;
	border: thin solid grey;
	width: 100%;
}
th,td{
	text-align: left; 
	border: thin solid grey;
	padding-left: 5px;
}
th{
	background-color: black;
	color: white;
}
td#last{
	text-align: center;
}
td a{
	color: black;
}
div.sidebar p{
	padding-left: 400px;
}
div.sidebar p#email{
	padding-left: 320px;
}
div.sidebar p#password1{
	padding-left: 352px;
}
div.sidebar p#password2{
	padding-left: 320px;
}
div.sidebar p#description{
	padding-left: 368px;
}
span{
	vertical-align: top;
}
div.sidebar p#submit{
	padding-left: 0;
	text-indent: 0;
}
p#submit input{
	width: 100%;
	height: 40px;
	background-color: rgb(51,85,208);
	font-size: 16px;
	color: white;
	border-radius:15px;
}
footer{
	background-color: rgb(51,51,51);
	height: 61px;
	padding: 0;
	margin: 0;
	border-style: none;
	text-align: center;
}
footer p {
	padding-top: 20px;
	color: white;
}